@media (min-width:1200px) {

    .section-title {
        font-size: 3.8rem;
    }

    .section {
        padding: 10em 0;
    }


    .header-img {

        .header-box {
            .btn-buy-now {
                padding: 1em 3.5em;
                font-size: 1.6rem;
            }
        }
    }

    .nav-desktop {

        .nav-link {
            padding: 2em 1em;
        }
    }

    .types {

        .card {
            .card-text {
                height: 200px;
            }
        }
    }

    .order {

        .order-box {
            height: 600px;

            .section-title {
                padding-top: 0;
                text-align: left;
            }
        }

        .order-box-body {

            .title {
                font-size: 2.2rem;
            }

            .description {
                font-size: 1.5rem;
            }
        }
    }



}